/* line 1, ../sass/navigation.sass */
.absolute-max, body, #main, .nav-grey-skin {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
}

/* line 19, ../sass/navigation.sass */
.absolute, .nav, .nav-timer {
  position: absolute;
  background-size: auto 100%;
}

/* line 24, ../sass/navigation.sass */
.z-1 {
  z-index: 1;
}

/* line 24, ../sass/navigation.sass */
.z-2 {
  z-index: 2;
}

/* line 24, ../sass/navigation.sass */
.z-3 {
  z-index: 3;
}

/* line 24, ../sass/navigation.sass */
.z-4 {
  z-index: 4;
}

/* line 24, ../sass/navigation.sass */
.z-5 {
  z-index: 5;
}

/* line 24, ../sass/navigation.sass */
.z-6 {
  z-index: 6;
}

/* line 24, ../sass/navigation.sass */
.z-7 {
  z-index: 7;
}

/* line 24, ../sass/navigation.sass */
.z-8 {
  z-index: 8;
}

/* line 24, ../sass/navigation.sass */
.z-9 {
  z-index: 9;
}

/* line 24, ../sass/navigation.sass */
.z-10 {
  z-index: 10;
}

/* line 24, ../sass/navigation.sass */
.z-11, .nav {
  z-index: 11;
}

/* line 24, ../sass/navigation.sass */
.z-12 {
  z-index: 12;
}

/* line 24, ../sass/navigation.sass */
.z-13 {
  z-index: 13;
}

/* line 24, ../sass/navigation.sass */
.z-14 {
  z-index: 14;
}

/* line 24, ../sass/navigation.sass */
.z-15 {
  z-index: 15;
}

/* line 24, ../sass/navigation.sass */
.z-16 {
  z-index: 16;
}

/* line 24, ../sass/navigation.sass */
.z-17 {
  z-index: 17;
}

/* line 24, ../sass/navigation.sass */
.z-18 {
  z-index: 18;
}

/* line 24, ../sass/navigation.sass */
.z-19 {
  z-index: 19;
}

/* line 24, ../sass/navigation.sass */
.z-20 {
  z-index: 20;
}

/* line 27, ../sass/navigation.sass */
.transition-0-5s {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

/* line 35, ../sass/navigation.sass */
.transition-1s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-2s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-3s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-4s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-5s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-6s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-7s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-8s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-9s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 35, ../sass/navigation.sass */
.transition-10s {
  transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  -webkit-transition: all 2s;
}

/* line 42, ../sass/navigation.sass */
.border-box, * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 51, ../sass/navigation.sass */
body {
  margin: 0%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* line 62, ../sass/navigation.sass */
.nav-grey-skin {
  background-color: white;
  opacity: 0;
  z-index: 10;
}

/* line 68, ../sass/navigation.sass */
.nav-grey-skin-instruction {
  opacity: 1;
  background-image: url(../pics/instruction.png);
}

/* line 72, ../sass/navigation.sass */
.nav {
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.3em;
  color: white;
  font-size: 40%;
  cursor: pointer;
  border: 4px solid #ff6262;
  background-color: #ff9a9a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9a9a), to(#ff4040));
  background-image: -webkit-linear-gradient(top, #ff9a9a, #ff4040);
  background-image: -moz-linear-gradient(top, #ff9a9a, #ff4040);
  background-image: -ms-linear-gradient(top, #ff9a9a, #ff4040);
  background-image: -o-linear-gradient(top, #ff9a9a, #ff4040);
}

/* line 89, ../sass/navigation.sass */
.nav:hover {
  background-color: #ff6767;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6767), to(#ff0d0d));
  background-image: -webkit-linear-gradient(top, #ff6767, #ff0d0d);
  background-image: -moz-linear-gradient(top, #ff6767, #ff0d0d);
  background-image: -ms-linear-gradient(top, #ff6767, #ff0d0d);
  background-image: -o-linear-gradient(top, #ff6767, #ff0d0d);
  background-image: linear-gradient(to bottom, #ff6767, #ff0d0d);
  border: 4px solid #ff3434;
}

/* line 99, ../sass/navigation.sass */
.nav-home {
  left: 94.45%;
  top: 59.8%;
  width: 4.55%;
  height: 9.1%;
  font-size: 50%;
  padding-top: 0.3em;
}

/* line 104, ../sass/navigation.sass */
.nav-ff {
  left: 94.45%;
  top: 15.8%;
  width: 4.55%;
  height: 9.1%;
}

/* line 107, ../sass/navigation.sass */
.nav-fb {
  left: 94.45%;
  top: 37.8%;
  width: 4.55%;
  height: 9.1%;
}

/* line 110, ../sass/navigation.sass */
.nav-pause {
  left: 94.45%;
  top: 48.8%;
  width: 4.55%;
  height: 9.1%;
}

/* line 113, ../sass/navigation.sass */
.nav-play, .nav-repeat {
  left: 94.45%;
  top: 26.8%;
  width: 4.55%;
  height: 9.1%;
}

/* line 116, ../sass/navigation.sass */
.nav-instruction {
  left: 94.45%;
  top: 70.8%;
  width: 4.55%;
  height: 9.1%;
}

/* line 119, ../sass/navigation.sass */
.nav-launcher, .nav-close, .nav-center {
  left: 94.45%;
  top: 2.8%;
  width: 4.55%;
  height: 9.1%;
  z-index: 12;
}

/* line 123, ../sass/navigation.sass */
.nav-launcher {
  opacity: 0.6;
}

/* line 126, ../sass/navigation.sass */
.nav-launcher, .nav-close {
  z-index: 13;
}

/* line 129, ../sass/navigation.sass */
.nav-timer {
  left: 94.45%;
  top: 81.8%;
  width: 4.55%;
  height: 9.1%;
  border-radius: 50%;
  background-color: red;
  color: white;
  text-align: center;
  z-index: 11;
  padding-top: 0.5em;
  font-size: 40%;
}
